*, *::before, *::after { box-sizing: inherit; }

html {
	box-sizing: border-box;
}

body {
 	background-color: #E5E5E5;
	width: 1314px;
  margin: 0px auto;
}
.vx {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	border: 1px solid #E5E5E5;
	justify-content: space-around;
	padding: 1rem;
}

.vx > div {
	background-color: #E5E5E5;
	border: transparent;
	font-size: 10px;
	color: black;
	padding: 20px;
}
.vx .rightbox {
	background-color: white;
	font-size: 15px;
	width: 170px;
	padding: 5px;
	border: 1px solid #DBDBDB;
}
.vx .leftbox {
	background-color: #162970;
	color: white;
	font-size: 15px;
	width: 150px;
	padding: 5px;
	border: 1px solid #DBDBDB;
}
.adapt {
	display:none;
}
.secondline {
	display: flex;
	flex-wrap: wrap;
	background-color: #E5E5E5;
	border: none;
	padding: 1px;
}

.secondline > div {
	background-color: #E5E5E5;
	border: transparent;
	font-size: 10px;
	color: black;
	padding: 50px;
}
.secondline .rightboxl2 {
	background-color: white;
	padding: 25px;
	margin: 5px;
	border: 1px solid #DBDBDB;
}
.secondline .leftboxl2 img {
	margin-left: -10px;
	width: 200px;
}
.secondline .rightboxl2 img {
	margin-left: -10px;
	width: 200px;
}
.secondline .leftboxl2 {
	background-color: white;
	color: black;
	font-size: 15px;
	padding: 25px;
	margin: 5px;
	border: 2px solid #F2AE4B;
}
.leftboxgroup .leftbox1 {
	background-color: #F3BA2F;
	color: white;
	font-size: 15px;
	padding: 5px;
	border: 1px solid #DBDBDB;
	display: flex;
  justify-content: center;
}
.avtovikup {
	background-color: white;
	font-size: 15px;
	padding: 5px;
	border: 1px solid #DBDBDB;
	display: flex;
	justify-content: center;
}

span.grey {
	color: #7B7B7E;
	font-size: 15px;
	padding: 60px;
}
.sixth {
	display: flex;
	flex-wrap: wrap;
	background-color: #E5E5E5;
	border: transparent;
	justify-content: space-around;
	padding: 2px;
	width: 800px;
}
.sixth .rightbox {
	background-color: #E5E5E5;
	text-align: center;
	font-size: 15px;
	width: 170px;
	padding: 5px;
	border: none;
}
span.s6 {
	color: black;
	font-size: 30px;
}
p {
	text-indent: 50px;
}
.seventhline {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #E5E5E5;
	border: transparent;
	padding: 2px;
}
.seventhline .leftboxl7 {
	padding: 5px;
}
.seventhline .rightboxl7 {
	background-color: #E5E5E5;
	width: 250px;
	margin-right: 30px;
	padding: 5px;
	border: none;
}
.seventhline .leftboxl7 img {
	margin-left: -40px;
	margin-right: 30px;
	width: 800px;
}
.seventhline .rightboxl7 img {
	margin-left: -40px;
	margin-right: 30px;
	width: 278px;
}
