
@media screen and (max-width:576px) {
.vx {
	display: none;
}
	.seventhline .leftboxl7 img {
    width: 576px;
		margin-left: 35px;
	}
.sixth {
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E5E5;
    border: transparent;
    padding: 2px;
    width: 576px;
	}
.adapt {
	display: flex;
	flex-wrap: wrap;
	background-color: #4F8FF7;
	border: transparent;
	padding: 20px;
	margin: 50px;
	width: 960px;
}
